@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);

  --fw-bold: 600;
  --fw-semi-bold: 500;
  --fw-reg: 400;
}

/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.9375rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
================
====MAIN CSS====
================
*/

.container {
  text-align: center;
  margin-bottom: 4em;
}

.header {
  margin: 2em;
  margin-top: 4em;
}

.header-title {
  line-height: 1.8rem;
  color: var(--dark-magenta);
  margin-bottom: .5em;
}

.header-about {
  line-height: 1.4rem;
  color: var(--dark-gray-magenta);
  margin-bottom: 2em;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8em;

  color: var(--dark-magenta) !important;
  background-color: var(--light-gray-magenta);
  font-weight: var(--fw-bold);
}

.five-star-rating {
  display: flex;
  gap: .5em;
}

.review {
  background-color: var(--dark-magenta);
}

.review-pfp {
  width: 3em;
  border-radius: 50%;
}

.review-tag {
  color: var(--soft-pink)
}

.rating-cards {
  margin-bottom: 2em;
}

.rating-cards, .review-cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*
================
=HELPER CLASSES=
================
*/

.base-card {
  color: white;
  padding: 2em;
  border-radius: 10px;
}

.flex-group {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1.4em;
}

/*
===============
=MEDIA QUERIES=
===============
*/

@media only screen 
and (min-width : 950px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'heading ... stars'
    'reviews reviews reviews';
  }

  .heading-txt {
    grid-area: heading;
  }

  .rating-cards {
    grid-area: stars;
  }

  .review-cards {
    grid-area: reviews;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
